
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body,html{
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}

.clearfix:before,
.clearfix:after{
	content: '';
	display: block;
}

.clearfix:after{
	clear: both;
}

.clearfix{
	zoom: 1;
}

a{
	color: #fff;
	text-decoration: none;
}

a:hover,a:active{
	cursor: pointer;
	text-decoration: underline;
}

body{
	font-size: 1.2rem;
}

.header{
	width: 100%;
}

.header .top{
	padding: 0 1.5rem;
	line-height: 3rem;
	background: #555;
	color: #fff;
	border-bottom: 1px solid #ecc000; 
}

.header .top .tel{
	float: left;
}

.header .top ul{
	margin: 0;
	float: right;
}

.header .top ul li{
	display: inline-block;
}

.header .top ul li+li{
	border-left: 1px solid #999;
}

.header .top ul li a{
	padding: 0 1.5rem;
}

.header .main{
	display: block;
	background: #f6f6f6;
}

.header .main .logo{
	float: left;
	padding: 1rem 1.5rem 0;
}

.header .main ul{
	line-height: 3rem;
	float: right;
	margin-top: 0;
	margin-bottom: 0;
}

.header .main ul li{
	display: inline-block;
	margin-left: -3px;
}

.header .main ul li{
	border-left: 1px solid #f0ede9;
	height: 100%;
}

.header .main ul li a{
	font-size: 1.8rem;
	line-height: 5rem;
	display: inline-block;
	color: #777;
	font-weight: 900;
	padding: 0 3rem; 
}

.header .main ul li a:hover,
.header .main ul li a:active,
.header .main ul li a.active {
    color: #FFB300;
    background-color: #F8F6F1;
}

@media only screen and (max-width: 50em ){
	
	body,html{
		font-size: 55%;
	}

	.header .top ul li a{
		padding: 0 1rem;
	}

	.header .main .logo{
		display: block;
		width: 100%;
		text-align: center;
		padding: 1.5rem 1.5rem 0;
	}

	.header .main ul{
		width: 100%;
		text-align: center;
		padding: 1rem 0 0;
	}

	.header .main ul li{
		border-left: none;
	}

	.header .main ul li a{
		font-weight: 800;
		padding: 0 1.5rem; 
	}
}

@media only screen and (max-width: 30em ){
	.header .top .tel,
	.header .top ul li:nth-child(3),
	.header .top ul li:nth-child(4),
	.header .main ul li:first-child{
		display: none;
	}

	.header .main ul li a{
		font-weight: normal;
		padding: 0 .5rem;
	}
}

.container{
	width: 100%;
	margin-top: 0;
}

.transaction{
	background: #7c7365;
}

.transaction .trans-content{
	width: 90%;
	margin: 0 auto;
	padding: 0;
	color: #fff;
	font-size: 1.4rem;
}

.trans-data{
	float: left;
	padding: 1rem;
	line-height: 3rem;
}

.trans-money{
	font-size: 2.2rem;
	line-height: 3rem;
	letter-spacing: 3px;
	padding: .5rem 1rem;
	margin:0 1rem;
	color: #ff9900;
	background: #eee;
	border-radius: 3px;
	box-shadow: 1px 2px 1px #333 inset;
}

.report{
	text-align: right;
}

.report a{
	display: inline-block;
	padding: 1rem;
	line-height: 3rem;
}

@media only screen and (max-width: 50em){

	.transaction .trans-content{
		width: 94%;
	}

	.trans-data{
		float: left;
	}

	.trans-money{
		letter-spacing: 1px;
		font-size: 1.8rem;
		padding: 0;
		margin:0 .5rem;
		background: none;
		border-radius: none;
		box-shadow: none;
	}
}

@media only screen and (max-width: 30em){
	.transaction{
		padding: .5rem 0;
	}

	.trans-data,
	.report {
		float: none;
		text-align: center;
	}

	.trans-data,
	.report a{
		padding: 0;
	}

}

.feature{
	width: 94%;
	margin: 2rem auto;
}

.feature .item{
	width: calc(33.33% - 1rem);
	display: inline-block;
	float: left;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 1rem;
	box-shadow: 0 0 4px #ccc;
}

.feature .item+.item{
	margin-left: 1.5rem;
}

.feature .item h3{
	width: 40%;
	display: inline-block;
	float: left;
	font-size: 3.3rem;
	vertical-align: top;
	color: #ff9900;
	text-align: center;
	margin: 0;
} 

.feature .item p{
	width: 55%;
	display: inline-block;
	font-size: 1.4rem;
	line-height: 1.6rem;
	color: #999;
	padding: 0;
	margin : 0;
}

@media only screen and (max-width: 50em){

	.feature{
		width: 90%;
	}

	.feature .item{
		border-radius: 1.5px;
		box-shadow: 0 0 1px #eee;
	}
	
	.feature .item h3{
		width: 100%;
		display: block;
		text-align: center;
		vertical-align: top;
	} 

	.feature .item p{
		width: 100%;
		text-align: center;
	}

}

@media only screen and (max-width: 30em){

	.feature{
		width: 96%;
		margin-bottom: 1rem;
	}

	.feature .item{
		display:block;
		width: 100%;
	}

	.feature .item+.item{
		margin-left: 0;
		margin-top: 1rem;
	}

	.feature .item h3{
		width: 40%;
		display: inline-block;
		float: left;
		font-size: 4rem;
		vertical-align: top;
		color: #ff9900;
		text-align: center;
		margin: 0;
		vertical-align: top;
	} 

	.feature .item p{
		width: 55%;
		display: inline-block;
		font-size: 1.6rem;
		line-height: 1.8rem;
		text-align: left;
	}
}

.notice {
	width: 94%;
	margin: 2rem auto;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-shadow: 0 0 4px #eee;
	font-size: 1.5rem;
}

.notice a:first-child{
	width: 70%;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.notice a{
	display: inline-block;
	line-height: 3rem;
	padding: 0 2rem ;
	color: #000;
	}

.notice a:hover,
.notice a:active{
	color: #0ae;
	text-decoration: none;
}

.notice a span{
	font-size: 1.2rem;
	color: #999;
}

.notice a.more{
	color: #ff9900;
	float: right;
}

.notice a:first-child:before{
	content: "最新公告:\00a0\00a0";
	color: #999;
}

@media only screen and (max-width: 50em){
	.notice{
		width: 90%;
		margin-top: 0;
	}
}

@media only screen and (max-width: 30em){
	.notice{
		width: 96%;
	}

	.notice a span{
		display: none;
	}
}

.product{
	width: 94%;
	margin:2rem auto;
	font-size: 1.4rem;
	line-height: 1.5rem;
	border-top: 2px solid #ff9900;
	background: #f5f9fa;
	box-shadow: 0 0 4px #ccc;
}

.product h2{
	display: inline-block;
	width: 20%;
	height: 100%;
	margin-top:3rem;
	text-align: center;
	font-size: 2.5rem;
	line-height: 2.5rem;
	font-weight: 400;
	color: #666;
	float: left;
}

.product h2 em{
	margin-top: 1rem;
	font-size: 1.6rem;
	display: block;
}

.product h2 em:first-child{
	margin-top: 4rem;
}

.product .product-content{
	width: 80%;
	background: #fff;
	float: left;
}

.product .item{
	width: 100%;
}

.product .item+.item{
	border-top: 1px solid #eee;
}

.product .item h3{
	width: 30%;
	font-size: 1.5rem;
	font-weight: normal;
	float: left;
	text-align: center;
	margin: 1.5rem 0;
}

.product .item h3 em{
	font-size: 3.6rem;
	line-height: 4.5rem;
	font-style: normal;
	color: #999;
}

.product .item h3 i{
	display: block;
	font-size: 1.2rem;
	font-style: normal;
	color: #999;
}

.product .item .info {
	padding: 1rem;
	display: inline-block;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	width: 49%;
	float: left;
}

.product .item .info p{
	width: 48%;
	text-align: center;
	display: inline-block;
}

.product .item .info p span{
	line-height: 3rem;
	display: block;
	font-size: 2.4rem;
	color: #ff9900;
}

.product .item .info p span i{
	font-size: 1.2rem;
	font-style: normal;
	color: #999;
}

.product .item .buy{
	width: 20%;
	display: inline-block;
	text-align: center;
	padding: 1rem;
}

.product .item .buy a{
	display: block;
	width: 80%;
	max-width: 26rem;
	margin: 1.5rem;
	line-height: 4rem;
	background: #ff9900;
	border-radius: 3px;
}

.product .item .buy a:hover{
	text-decoration: none;
	opacity: .6;
}

@media only screen and (max-width: 50em){

	.product{
		width: 90%;
	}

	.product h2{
		width: 100%;
		margin:2rem auto 1.5rem;
		text-align: center;
		font-size: 2.5rem;
		font-weight: 400;
		color: #666;
		float: none;
	}

	.product h2 em{
		display:inline;
	}

	.product h2 em:first-child{
		margin-top: 1rem;
	}

	.product .product-content{
		width: 100%;
	}

	.product .item h3 em{
		font-size: 3rem;
		line-height: 4rem;
	}

	.product .item .info {
		padding: 1rem 1rem 0 ;
	}

	.product .item .info p span{
		font-size: 2rem;
		line-height: 2.4rem;
	}

	.product .item .buy{
		padding: 0;
	}

}

@media only screen and (max-width: 30em){

	.product{
		width: 96%;
	}

	.product h2 em:first-child:before {
        content: " ";
        display: table;
    }

	.product .product-content{
		width: 100%;
	}

	.product .item{
		width: 100%;
	}

	.product .item h3 {
		width: 30%;
		margin-bottom: 0;
	}

	.product .item h3 em{
		font-size: 3rem;
		line-height: 4rem;
	}

	.product .item .info {
		width: 68%;
		padding: 1rem 1rem ;
		border-left: none;
        border-right: none;
	}

	.product .item .info p{
		display: inline-block;
	}

	.product .item .buy{
		width: 100%;
		clear: both;
		display: block;
		float: none;
		padding: 1rem 0 2rem;
	}

	.product .item .buy a{
		margin: 0 auto ;
		border-radius: 3px;
	}

}

.foot{
	width: 100%;
	padding: 3rem 0;
	border-top: 2px solid #eee;
}

.foot .foot-content{
	width: 90%;
	margin: 0 auto;
}

.foot .brand{
	display:block;
	width: 20%;
	height: 35px;
	background: url('../img/logo@1x.png') no-repeat left;
	-webkit-filter:grayscale(100%);
	filter:grayscale(100%);
	background-size: 150px 35px;
	float: left;
}

.foot ul{
	display:block;
	float: left;
	width: 15%;
}

.foot ul li {
	list-style: none;
	font-size: 1.4rem;
	line-height: 2rem;
}

.foot ul li:first-child{
	font-size: 2rem;
	line-height: 3rem;
}

.foot ul li a{
	color: #000;
}

.foot ul li a:hover,
.foot ul li a:active{
	color: #0ae;
}

@media only screen and (max-width: 50em){
	.foot .brand{
		display: none;
	}

	.foot ul{
		width: 19%;
		padding: 0;
	}

	.foot ul li:first-child{
		font-size: 1.6rem;
		line-height: 2rem;
	}

	.footer ul{
		padding: 0;
	}
} 

@media only screen and (max-width: 30em){

	.foot ul li{
		font-size: 1.4rem;
		line-height: 1.8rem;	
	}

	.foot ul li a{
		color: #666;
	}

	.foot ul li:first-child{
		font-size: 1.4rem;
		line-height: 1.8rem;
		margin-bottom: 0;
	}
} 

.footer{
	width: 100%;
	padding: 3rem 0 5rem;
	background: #ededed;
	text-align: center;
}

.footer ul li{
	display: inline-block;
}

.footer ul li .icon {
    display: inline-block;
    text-indent: -999rem;
    margin-right: 1.5rem;
    background: url(https://i.alipayobjects.com/e/201307/jebmKcbrh.png) no-repeat;
    background-size: 466px 447px;
    overflow: hidden;
}

.footer ul li .icon-zfywxkz {
    width: 38px;
    height: 27px;
    background-position: -369px -45px;
}

.footer ul li .icon-PCI {
    width: 78px;
    height: 27px;
    background-position: -110px -96px;
}

.footer ul li .icon-Visa {
    width: 36px;
    height: 27px;
    background-position: -426px -90px;
}

.footer ul li .icon-VerSign {
    width: 63px;
    height: 27px;
    margin-right: 13px;
    background-position: -401px -186px;
}

.footer ul li .icon-wlgs {
    width: 22px;
    height: 27px;
    background-position: -48px -48px;
}

.footer ul li .icon-dzswxhrz {
    width: 75px;
    height: 27px;
    background-position: 0 -320px;
}

.footer ul li .icon-bjgs {
    width: 30px;
    height: 30px;
    margin-right: 0;
    background: url(https://os.alipayobjects.com/rmsportal/lybcjqloSPjMAFg.png) no-repeat;
    background-size: 30px;
}

.footer p{
	color: #999;
}

